@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}

#background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: hsl(222, 40%, 13%);
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 50%;
}

.theme-toggle,
#toggle-btns,
.search-bar-container,
.user-details-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.theme-toggle {
    justify-content: space-between;
}

#toggle-btns {
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: .2rem;
}

.light-toggle,
.dark-toggle {
    margin: 0;
}

.light-toggle:hover,
.dark-toggle:hover {
    cursor: pointer;
}

#light,
#dark {
    width: fit-content;
    height: fit-content;
    padding-left: 1rem;
    padding-top: .3rem;
}

.light-toggle>svg,
.dark-toggle>svg {
    transform: scale(1.3);
}

.search-bar-container {
    background-color: hsl(224, 40%, 20%);
    height: 3.5rem;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#magnifying-glass {
    margin-left: 1rem;
    margin-right: .6rem;
    padding-top: 0.3rem;
}

#magnifying-glass>svg {
    transform: scale(.8);
}

.search-field {
    width: 85%;
    display: flex;
    align-items: center;
}

.search-field>input {
    background: none;
    border: none;
    width: 60%;
}

.search-field>input::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
    color: white;
}

#search-btn {
    border: none;
    border-radius: 5px;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    margin-right: .5rem;
    background-color: hsl(212, 99%, 50%);
    color: white;
    font: inherit;
    font-size: .8rem;
    font-weight: 700;
}

.user-details-container {
    background-color: hsl(224, 40%, 20%);
}

.left {
    width: 30%;
}

#profile-picture {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.right {
    display: flex;
    flex-direction: column;
}

.main-info {
    display: flex;
    flex-direction: row;
}

.account-info {
    display: flex;
    background-color: hsl(222, 40%, 13%);
    border-radius: 10px;
    justify-content: center;
}

.account-info>table {
    width: 100%;
}

#topics>th {
    font-weight: 400;
}

#values>td {
    font-weight: 700;
}