@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: 'Space Mono', monospace;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.dark {
    color: hsl(0, 0%, 100%);
}

body.light {
    color: hsl(220, 18%, 16%);
}

#background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#background.dark {
    background-color: hsl(220, 40%, 13%);
}

#background.light {
    background-color: hsl(227, 100%, 98%);
}

.page-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 50%;
    height: auto;
}

.theme-toggle,
#toggle-btns,
.search-bar-container,
.user-details-container {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.theme-toggle {
    justify-content: space-between;
}

#toggle-btns {
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: .2rem;
}

.light-toggle,
.dark-toggle {
    margin: 0;
    font-weight: 700;
}

.dark-toggle {
    color: hsl(217, 20%, 51%);
}

.light-toggle:hover,
.dark-toggle:hover {
    cursor: pointer;
}

.light-toggle>svg {
    fill: hsl(0, 0%, 100%);
}

.dark-toggle>svg {
    fill: hsl(217, 20%, 51%);
}

.light-toggle:hover,
.light-toggle>svg:hover {
    color: hsl(222, 44%, 70%);
    fill: hsl(222, 44%, 70%);
}

.dark-toggle:hover,
.dark-toggle>svg:hover {
    color: hsl(220, 18%, 16%);
    fill: hsl(220, 18%, 16%);
}

#light,
#dark {
    width: fit-content;
    height: fit-content;
    padding-left: 1rem;
    padding-top: .3rem;
}

.light-toggle>svg,
.dark-toggle>svg {
    transform: scale(1.3);
}

.search-bar-container {
    height: 3.5rem;
}

.search-bar-container.dark {
    background-color: hsl(222, 41%, 20%);
}

.search-bar-container.light {
    background-color: hsl(0, 0%, 100%);
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#magnifying-glass {
    margin-left: 1rem;
    margin-right: .6rem;
    padding-top: 0.3rem;
}

#magnifying-glass>svg {
    transform: scale(.8);
}

.search-field {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-field>div {
    display: flex;
    width: 70%;
    align-items: center;
}

.search-field>div>input {
    background: none;
    border: none;
    width: 60%;
    font-size: 1rem;
    font-family: inherit;
}

.search-field>div>input.dark {
    color: hsl(0, 0%, 100%);
}

.search-field>div>input.light {
    color: hsl(220, 18%, 16%);
}

.search-field>div>input::placeholder {
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

.search-field>div>input.dark::placeholder {
    color: hsl(0, 0%, 100%);
}

.search-field>div>input.light::placeholder {
    color: hsl(220, 18%, 16%);
}

.search-field>div>input:focus {
    outline: none;
}

#error {
    color: hsl(0, 92%, 62%);
}

#search-btn {
    border: none;
    border-radius: 8px;
    display: inline-block;
    width: 5rem;
    height: 2.5rem;
    margin-right: .5rem;
    background-color: hsl(212, 100%, 50%);
    color: hsl(0, 0%, 100%);
    font: inherit;
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .06rem;
}

#search-btn:hover {
    cursor: pointer;
    background-color: hsl(212, 100%, 69%);
}

.user-details-container {
    flex-direction: column;
    justify-content: space-evenly;
}

.user-details-container.dark {
    background-color: hsl(222, 41%, 20%);
}

.user-details-container.light {
    background-color: hsl(0, 0%, 100%);
}

.profile-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 90%;
    text-align: center;
    align-self: center;
}

#profile-picture {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    float: left;
    margin-right: 2.2rem;
}

.main-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-info div:nth-child(1) {
    text-align: left;
    width: 50%;
    margin-top: 2rem;
}

.main-info div:nth-child(2) {
    width: 50%;
    margin-top: 2rem;
}

.main-info div:nth-child(2)>p {
    margin: 0;
    padding-top: 0.4rem;
    text-align: right;
}

.main-info div:nth-child(3) {
    width: 100%;
}

.main-info div:nth-child(3)>p {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.main-info div:nth-child(1)>h2 {
    margin: 0;
}

.main-info div:nth-child(1)>h4 {
    margin: 0;
}

.main-info div:nth-child(1)>h4.dark,
.main-info div:nth-child(1)>h4.light {
    color: hsl(212, 100%, 50%);
}

.main-info div:nth-child(1)>p.dark {
    color: hsl(0, 0%, 100%);
}

.main-info div:nth-child(1)>p.light {
    color: hsl(217, 20%, 51%);
}

.main-info div:nth-child(2)>p.dark {
    color: hsl(0, 0%, 100%);
}

.main-info div:nth-child(2)>p.light {
    color: hsl(217, 20%, 51%);
}

.left>p {
    display: inline-block;
    width: 72%;
    position: relative;
    right: -8%;
    text-align: left;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    align-self: end;
    margin-right: 2rem;
}



.account-info {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    height: 5rem;
}

.account-info.dark {
    background-color: hsl(222, 40%, 13%);
}

.account-info.light {
    background-color: hsl(227, 100%, 98%);
}

.account-info>table {
    width: 100%;
}

#topics>th {
    font-weight: 400;
    text-align: center;
    font-size: .8rem;
}

#values>td {
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
}

.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
}

#left-contacts,
#right-contacts {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#location,
#github-link,
#twitter,
#company {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 0;
}

#location>span,
#github-link>span,
#twitter>span,
#company>span {
    width: fit-content;
    height: fit-content;
}

#location>span>svg.dark,
#github-link>span>svg.dark,
#company>span>svg.dark {
    fill: hsl(180, 100%, 100%);
}

#location>span>svg.light,
#github-link>span>svg.light,
#company>span>svg.light {
    fill: hsl(217, 35%, 45%);
}

#twitter-icon {
    fill: hsl(226, 13%, 61%);
}

#location>p,
#github-link>p,
#company>p {
    margin: 0;
    padding-left: .7rem;
    font-size: .8rem;
    /* letter-spacing: .1rem; */
}

#location>p.dark,
#github-link>p.dark,
#company>p.dark {
    color: hsl(0, 0%, 100%);
}

#location>p.light,
#github-link>p.light,
#company>p.light {
    color: hsl(217, 35%, 45%);
}

#github-link>p.dark:hover {
    text-decoration: underline;
    text-decoration-color: hsl(0, 0%, 100%);
}

#github-link>p.light:hover {
    text-decoration: underline;
    text-decoration-color: hsl(217, 35%, 45%);
}

#twitter-text {
    margin: 0;
    padding-left: .7rem;
    font-size: .8rem;
    letter-spacing: .1rem;
    color: hsl(226, 13%, 61%);
}

@media (min-width: 320px) and (max-width: 600px) {
    .page-container {
        width: 90%;
    }

    .user-details-container {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 85%;
        height: fit-content;
    }

    .left>p {
        text-align: left;
        margin-bottom: 2rem;
    }

    .profile-details {
        display: flex;
        gap: 2rem;
    }

    #profile-picture {
        /* margin-top: 2rem; */
    }

    .main-info {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main-info>div {
        text-align: left;
    }

    .main-info div:nth-child(1),
    .main-info div:nth-child(2),
    .main-info div:nth-child(3) {
        width: 100%;
    }

    .main-info>div:nth-child(2) {
        margin-top: 0;
    }

    .main-info>div:nth-child(2)>p {
        margin: 0;
        text-align: right;
        padding-right: 1.1rem;
    }

    .main-info>div:nth-child(3)>p {
        margin-top: 1.5rem;
    }

    .right {
        width: 85%;
    }

    .contacts {
        gap: 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
        flex-direction: column;
    }

    .contacts>div {
        display: inline-block;
        width: 100%;
    }

    #left-contacts,
    #right-contacts {
        display: flex;
        flex-direction: column;
    }

    #location,
    #github-link,
    #twitter,
    #company {
        margin: .3rem 0;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .page-container {
        width: 80%;
    }

    .user-details-container {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 85%;
        height: fit-content;
    }

    .left>p {
        text-align: left;
        margin-bottom: 2rem;
    }

    .profile-details {
        display: flex;
        gap: 2rem;
    }

    #profile-picture {
        margin-top: 2rem;
    }

    .main-info {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main-info>div {
        text-align: left;
    }

    .main-info>div:nth-child(2)>p {
        margin: 0;
    }

    .right {
        width: 85%;
    }

    .contacts {
        justify-content: space-between;
    }

    .contacts>div {
        display: inline-block;
        width: 40%;
    }
}